<h2><font color="white">Crepas Saladas</font></h2>
<table class="table table-hover table-inverse">
  <thead  class="thead-default">
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    #foreach($crepaSalada in $crepasSaladas)
      <tr class="bg-success">
        <td><a href="/addCantidad/$crepaSalada.getId()">$crepaSalada.getNombre()</a></td>
        <td>$crepaSalada.getPrecio()</td>
      </tr>
    #end
  </tbody>
</table>
