<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>CoffeeTree</title>
    <link href='/images/icon.png' rel='shortcut icon' type='image/png'/>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/ionicons.min.css">

</head>

<body>


    <div class="col-xs-12 col-md-4" id="login">
        <p class="inicio">Inicio de sesión <i class="fa fa-coffee" aria-hidden="true"></i></p>
        <form method="post" class="datos" action="/login" >
            <div class="name">
                <input type="text" class="form-control" placeholder="Usuario" id="user1" name="user1">
                <span class="fa fa-user fa-2x" id="user"></span>
            </div>
            <div class="password">
                <input type="password" class="form-control" placeholder="Contraseña" id="password" name="password">
                <span class="fa fa-lock fa-2x" id="lock"></span>
            </div>
            <div class="row">
                <div class="col-xs-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" id="botonsin">Entrar</button>
                </div>

            </div>

        </form>

    </div>



    <!-- jQuery 2.2.3 -->
    <script src="/jquery-2.2.3.min.js"></script>
    <!-- <script src="/validaciones.js"></script> -->
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/bootstrap.min.css">
</body>

</html>
