<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>CoffeeTree</title>
    <link href='/images/icon.png' rel='shortcut icon' type='image/png' />

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/ionicons.min.css">
    <style media="screen">
        body {
            background-image: url('/images/2.jpg');
        }
    </style>
</head>

<body>
      <nav class="navbar navbar-inverse sidebar" role="navigation">
          <div class="container-fluid">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1" id="btn">
  				<span class="sr-only">Toggle navigation</span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  			</button>
                  <a class="navbar-brand" >Coffee Tree</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Crepas Dulces <span class="caret"></span><i style="font-size:18px;" class="fa fa-cutlery pull-right" aria-hidden="true" id="navIcon"></i></a>
                          <ul class="dropdown-menu forAnimate" role="menu" id="clr">
                              <li><a href="/crepasDulces1">1 Ingrediente</a></li>
                              <li><a href="/crepasDulces2">2 Ingredientes</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Crepas Saladas <span class="caret"></span><i style="font-size:18px;" class="fa fa-cutlery pull-right" aria-hidden="true" id="navIcon"></i></a>
                          <ul class="dropdown-menu forAnimate" role="menu" id="clr">
                              <li><a href="/crepasSaladas1">1 Ingrediente</a></li>
                              <li><a href="/crepasSaladas2">2 Ingredientes</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bebidas Calientes <span class="caret"></span><i style="font-size:18px;" class="fa fa-coffee pull-right" aria-hidden="true" id="navIcon"></i></a>
                          <ul class="dropdown-menu forAnimate" role="menu" id="clr">
                              <li><a href="/bebidasCalientesChicas">Chico</a></li>
                              <li><a href="/bebidasCalientesMedianas">Mediano</a></li>
                              <li><a href="/bebidasCalientesGrandes">Grande</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bebidas Frías <span class="caret"></span><i style="font-size:18px;" class="fa fa-beer pull-right" aria-hidden="true" id="navIcon"></i></a>
                          <ul class="dropdown-menu forAnimate" role="menu" id="clr">
                              <li><a href="/bebidasFriasChicas">Chico</a></li>
                              <li><a href="/bebidasFriasMedianas">Mediano</a></li>
                              <li><a href="/bebidasFriasGrandes">Grande</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrar <span class="caret"></span><i style="font-size:18px;" class="fa fa-pencil pull-right" aria-hidden="true" id="navIcon"></i></a>
                          <!-- <ul class="dropdown-menu forAnimate" role="menu" id="clr">
                              <li><a href="#">Agregar ingredientes</a></li>
                              <li><a href="#">Resurtir urgente</a></li>
                          </ul> -->
                      </li>
                      <!-- <li class="color"><a href="#">Carrito Actual<i style="font-size:18px;" class="fa fa-shopping-cart pull-right" aria-hidden="true" id="navIcon"></i></a></li>
                      <li class="color"><a href="#">Pagar<i style="font-size:18px;" class="fa fa-usd pull-right" aria-hidden="true" id="navIcon"></i></a></li>
                      <li class="color"><a href="#">Salir del sistema<i style="font-size:18px;" class="fa fa-power-off pull-right" aria-hidden="true" id="navIcon"></i></a></li> -->

                  </ul>
              </div>
          </div>
      </nav>
      <!-- <div class="row"> -->
        <div class="col-md-5">
          #parse( $template )

        </div>
      <!-- </div> -->
    <!-- jQuery 2.2.3 -->
    <script src="/jquery-2.2.3.min.js"></script>
    <script src="/bootstrap.min.js">
    </script>
    <script src="/code.js">
    </script>

</body>

</html>
